<?xml version='1.0' encoding='utf-8'?>
<widget id="com.affa.pizza-app" version="1.0.0">
    <name>pizza-app</name>
    <description>
        Phone application for pizza restaurant
    </description>
    <author>
        Anton Laurell,
        Frida Olsson
    </author>
    <platform name="ios">
    <platform name="android">
    <platform name="winphone">
</widget>
