.main-logo {
    width: 80%;
    margin: 0 auto;
    display:block;
    padding: 0px 20px 20px;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #000;
}
a:visited {
    color: #000;
}
.back-to-main {
    padding:10px;
    border: 2px black solid;
    margin: 2px;
    float:left;
}

/* === MAIN MENU === */
.main-menu {
    width: 100%;
}
.main-menu ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.main-menu ul li {
    list-style: none;
    padding: 30px;
    border: 2px black solid;
    margin-bottom: 5px;
}
.main-menu ul li a {
    vertical-align:middle;
    font-size: 2em;
}

/* === FOOD MENU CLASS === */
.food-menu {
    width: 100%;
}
.food-menu ul {
    margin: 0 auto;
    padding: 0;
    text-align:center;
}
.food-menu ul li {
    list-style: none;
    padding: 10px;
    border: 1px black solid;
    margin: 1px 0; 
}
.food-menu ul li p {
    font-size:1.3em;
    display: inline-block;
    text-align:center;
}
.food-menu ul li a {
    border: 1px black solid;
    padding: 0px 5px;   
    font-weight: bold;
    text-align:right; 
}